PORT=3003
HOST=127.0.0.1
HOSTNAME=127.0.0.1

DJANGO_API_URL=http://127.0.0.1:8003
ACCESS_TOKEN_MINUTES=1440
REFRESH_TOKEN_MINUTES=43200
NEXT_PUBLIC_SWR_REFRESH_INTERVAL=30000
NEXT_PUBLIC_TOAST_DURATION_MS=6000
NEXT_PUBLIC_LOG_LEVEL=info
PAGE_SIZE=10
PAGE_SIZE_MAX=50
